{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh

# Common stuff
omarchy-pkg-add cmake 
omarchy-pkg-add ipython 
omarchy-pkg-aur-add postman-bin
omarchy-pkg-add blanket

curl -LsSf https://astral.sh/uv/install.sh | sh

{{ if eq .chezmoi.hostname "omarchy" -}}
# For my desktop/home setup only

omarchy-pkg-add jellyfin-server
omarchy-pkg-add jellyfin-web
omarchy-pkg-add jellyfin-ffmpeg
omarchy-pkg-add qbittorrent

sudo systemctl enable --now jellyfin
sudo ufw allow 8096/tcp comment "Jellyfin HTTP"

{{ end }}


{{ end -}}
