{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh

omarchy-pkg-drop signal-desktop
omarchy-pkg-drop xournalpp
omarchy-webapp-remove Fizzy
omarchy-webapp-remove Basecamp
omarchy-webapp-remove Zoom

{{ end -}}
