{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
omarchy-pkg-add cmake 
omarchy-pkg-add ipython 
omarchy-pkg-aur-add postman-bin

curl -LsSf https://astral.sh/uv/install.sh | sh

{{ if eq .chezmoi.hostname "omarchy" -}}
omarchy-pkg-aur-add plex-media-server
sudo systemctl enable plexmediaserver
{{ end }}

omarchy-pkg-add blanket

{{ end -}}
