
# Change the default 0.97 0.9 opacity for all windows
windowrule = opacity 1.0 0.5, match:class .*

# Terminal windows should be 1.0 0.75
windowrule = opacity 1.0 0.7, match:class com.mitchellh.ghostty

# Windows in scratchpad should be full opacity 
windowrule = opacity 1.0 1.0, match:workspace special:scratchpad

# Always have Youtube and Twitch at 100% opacity
windowrule = opacity 1.0 1.0, match:class chrome-youtube.com__-Default
windowrule = opacity 1.0 1.0, match:class chrome-twitch.com__directory_following-Default

{{ if eq .chezmoi.hostname "omarchy" }}
workspace = special:scratchpad, gapsout:40, gapsin:20, bordersize: 3, layout:dwindle, on-created-empty:alacritty
{{ else }}
workspace = special:scratchpad, gapsout:20, gapsin:10, on-created-empty:alacritty
windowrule = match:class chrome-app.slack.com__client_TJTRKF5J4_D05A9G33SUE-Default, workspace 1
{{ end }}

